
.nav{
background-color: transparent;

}
html{
    background-image: url("pawel-czerwinski-NTYYL9Eb9y8-unsplash.jpg");
    background-size: cover;
}
body{
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-size: 500%;
    color: floralwhite;
    margin: 1em;

}
.blur{
    backdrop-filter: blur(20px);
    border-radius: 4rem;
}
.pdiv{
    display: flex;
    justify-content: center;
}
p{
    font-size: 55%;
    margin: 5%;
   
}
a{
    text-decoration: none;
    color: floralwhite;
    transition: all .2s ease-in-out; 

}
.pAnchor:hover{
    color: grey;
}
.gridboxNav{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    justify-content: center;
    padding: 5%;
    grid-gap: 5%;

}
.grid-itemNav {
    padding: 10%;
    font-size: 75%;
    text-align: center;
    transition: all .2s ease-in-out; 
  }
.grid-itemNav:hover{
    transform: scale(110%);
}



